

body{

    
    background-image: url(../img/space-bg.jpg);
    background-size: cover;
    height: 65vmax;
    position: static;
    background-attachment: fixed;
    transition-duration: 2s;
   
  
    
    
}



.img100{
  
    width: 100%;
    


}

#espacio{

    position: relative;
    width: 100%;
    
    
}






 .luna{
    position: absolute;
    width: 12%;
    top: 8%;
    left: 40%;
    z-index: 20;

}


.tierra2{
    
    position: absolute;
    width: 40%;
    top: 5%;
    left: 43%;
    z-index: 3;
}


.tierra{
    
    position: absolute;
    width: 60%;
    top: 5%;
    left: -20%;
    z-index: 4;
    
    
}

.logoarsat{

    position: absolute;
    width: 18%;
    top: 220px;
    left: 34%;
    z-index: 5;
    overflow: hidden;
    transition-duration: 2s;
    transition-property: all;
    transform: rotate(2turn);
  
    
}

.logoarsat:hover{

    border-radius: 20px;
    left: 100px;
    
    
    

}

.meteoro{

    position: absolute;
    width: 12%;
    left: 72%;
    top: 385px;
    z-index: 8;
    transition-duration: 2s;
}

.meteoro:hover{

    transform: scale(2,2 );
}

