

body{

    
    background-image: url(../img/space-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vmax;
   
    
    
    
    
    
}




.img100{

    width: 100%;
    


}



 .luna{
    position: absolute;
    width: 12%;
    top: 8%;
    left: 40%;
    z-index: 20;

}


.tierra2{
    
    position: absolute;
    width: 40%;
    top: 5%;
    left: 43%;
    z-index: 3;
}


.tierra{
    
    position: absolute;
    width: 60%;
    top: 5%;
    left: -20%;
    z-index: 4;
    
    
}
.logoarsat{

    position: absolute;
    width: 20%;
    top: 40%;
    left: 32%;
    z-index: 5;
    
    
    
    
    
}

.meteoro{

    position: absolute;
    width: 12%;
    left: 72%;
    top: 70%;
}