

body{

    
    background-image: url(../img/space-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vmax;
    position: static;
   
    
    
    
    
    
}

.img100{
  
    width: 100%;
    


}

#espacio{

    position: relative;
    width: 100%;
    
}






 .luna{
    position: absolute;
    width: 12%;
    top: 8%;
    left: 40%;
    z-index: 20;

}


.tierra2{
    
    position: absolute;
    width: 40%;
    top: 5%;
    left: 43%;
    z-index: 3;
}


.tierra{
    
    position: absolute;
    width: 60%;
    top: 5%;
    left: -20%;
    z-index: 4;
    
    
}

.logoarsat{

    position: absolute;
    width: 18%;
    top: 220px;
    left: 34%;
    z-index: 5;
    
    
    
    
    
}

.meteoro{

    position: absolute;
    width: 12%;
    left: 72%;
    top: 385px;
    z-index: 8;
}