


<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>-->

<!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://img.autocosmos.com/noticias/fotosprinc/NAZ_a240c72c05984703ae18332ec3604ec9.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">¿Qué Bicicleta Elegir?</h1>
                    <p>Todas estas inquietudes, todas estas situaciones cotidianas, las tratamos de explicar en nuestra Guía: "Cómo elegir una bicicleta: las claves para una buena elección". Hacé click en el enlace y enterate!</p>
                    <a class="btn btn-dark" href="/productos">Clic Aqui!</a>
                </div>
            </div>

            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><h4 class="text-white m-0">La tienda Numero 1° en venta de Biciletas! Bicimania Rosario</h4></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Técnicos de Bicicletas</h2>
                            <p class="card-text">Los mejores técnicos de bicis de Rosario, para resolver problemas, darte el mejor asesoramiento, y proveerte de soluciones.

Nuestro Servicio Técnico se capacita constantemente con las nuevas tendencias del mundo del ciclismo. </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-dark btn-sm" href="#!">Mas Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Enviamos tu nueva Bici</h2>
                            <p class="card-text">Te enviamos la Bicicleta que elegiste a Rosario y todo el país. Consultános por los transportes, por la forma que más te convenga y al precio más bajo.

Embalaje seguro para el transporte</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-dark btn-sm" href="#!">Mas Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Programa "Bici Segura"</h2>
                            <p class="card-text">Tenemos un excelente servicio post-venta.

Garantía escrita de tu nueva bici. También podés hacer el seguro de bicicletas más efectivo del mercado. </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-dark btn-sm" href="#!">Mas Info</a></div>
                    </div>
                </div>
            </div>
        </div>