*{margin: 0;padding:0;}

.textob{
    color: white;
}

.bg1{background: #ff057a }
.bg2{background: #27ae60}
.bg3{background: #2980b9}
.bg4{background: #8e44ad}
.bg5{background: #e74c3c}
.bg6{background: #2c3e50}
.bg7{background: #7f8c8d}
.bg8{background: #34495e}
.bg9{background: #f1c40f}
.bg10{background: #f39c12}
.bg11{background:rgb(0, 0, 0)}

.sinPadding{
    padding:0;
}

.top{

    padding: 0.1%;
}

.radio{

    position: fixed;
    bottom: 0;
    z-index: 10;
}

.iconos{
    position: absolute;
    right: 0%;
}