*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#contenedor{

    
    max-width: 1100px;
    margin: 0 auto;

}

header{

    background-color: aquamarine;
    margin-bottom: 1.5%;
    

}

.logo{

    text-align: center
}

.navbar{

    background-color: cornflowerblue;
    text-align: end;
    padding: 1px;
    
}
    /*menu principal*/

    .navbar ul{
        list-style-type: none;  /* con url se le puede agregar icono*/

        }
        .navbar ul li{
         /*float: left;*/
display: inline-block;
        }
        .navbar ul li a{
           
            color: azure;
            text-decoration: none;
            padding: 15px;
            display: block;
            

           }
/*seudo clases*/
          .navbar ul li a:hover{

            text-decoration: underline;
            background-color: rgb(17, 236, 182);
            padding: 15px;
          }

          .navbar ul li a:active{  /*clic activo , sirve para celulares*/

            background-color: cornsilk;

          }

          .active{
              background-color: rgb(26, 221, 163);
          }

.principal{

    
    width: 80%;
    padding: 2%;
    background-color: darkgrey;
    float: left;
}

.tituloprincipal{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}


.simple{

background-color: rgb(207, 207, 207);
padding: 6%;
width: 50%;
float: left;
}

.imgnota{
    width: 100%;
    border-radius: 5%;
    

}



.breadcrumb ul li {
    background-color: rgb(56, 253, 188);
    padding: 5px;
    list-style-type: none;
    display: inline-block;
    width: 100%;

    
}


.breadcrumb ul li a:hover{

    background-color: rgb(13, 182, 103);
   
    
    
    
    
}



.linksimple{

    color: rgb(15, 15, 15);
    text-decoration: none;
    padding: 5px;
    
    
    
    
    
   
}




.bannersuperior{

    
    text-align: center;
    padding: 1%;
}

.cajatiempo{

    margin: auto;
    width: 20%;
    padding: 2%;
    float: right;
    box-sizing: border-box;
}
.bannerlateral{
    width: 20%;
    padding: 2%;
    float: right;
    box-sizing: border-box;
}

.footer{
    clear: both;
    background-color: teal;
    color: whitesmoke;
    padding: 2%;

}

.titulonota{

    background-color: red;
    color: seashell;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 2%;
    margin: 5px auto;
}

.linkredes{
    
text-align: end;
padding: 2%;
    
}


/*formulario de contacto*/



#formContacto{
    background-color: rgba(84, 247, 220, 0.658);
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

#formContacto input{
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;
}

#formContacto input[type="radio"]{
    width: auto;
}

#formContacto input[type="checkbox"]{
    width:auto;
}

#formContacto select{

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;
}
#formContacto textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit; /*valor heredado*/
}
#formContacto button[type="submit"]{

    width: 100%;
    padding: 10px;
    background-color: lightseagreen;
}
#formContacto button[type="submit"]:hover{
    background: lightblue;
    width: 100%;
    border:none
    cursor: pointer;
    transition: 1s;
}